このプロジェクトは超局所的な環境で使われるTUIソフトウェアを作る物です。
具体的にはTUIで縦方向に全画面表示されたターミナルで、Google Calendarで一日の予定を表示する必要があります。
Google Calendar のAPIを使って、予定を取得し、ratatuiを使って横に24分割し、それぞれの時間帯に適切に予定を表示する必要があります。

実行環境はrasberry pi zero 2 wなので、cpuアーキテクチャはarmv8の64bitです。また開発環境はwindows上で動かしているwsl:ubuntuで、このマシンはx86_64の64bitなのでクロスコンパイルが必要です。
